{% extends "base.html" %}
{% load static %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}


{% block scripts %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static "js/ws4redis.js" %}" type="text/javascript"></script>
<script>
  // Create a new websocket
  var socket = new WebSocket('ws://' + window.location.host + '/users/');
  // Print to the console when the websocket has connected for testing
  socket.onopen = function open() {
    console.log('userLoggedIn websocket connection established');
  };
  // Store user as a 'data' attribute to make it easy to find the user in the DOM,
  // adding an event listener to the websocket to handle the response from the server,
  // when a respnse is received from the server, parse the JSON object and then update
  // the users status on the page
  socket.onmessage = function message(event) {
    var data = JSON.parse(event.data);
    var username = encodeURI(data['username']);
    var user = $('li').filter(function () {
      return $(this).data('username') == username;
    });
    if (data['is_logged_in']) {
      user.html(username + ': Online');
    }
    else {
      user.html(username + ': ');
  }
  };
  if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
  }
</script>
<script type="text/javascript">
// Establish a websocket connection to pass to ws4redis for chat implementation
jQuery(document).ready(function($) {
  var ws4redis = WS4Redis({
		uri: ('ws://' + window.location.host),
		receive_message: receiveMessage,
	});
	var billboard = $('#billboard');
	// Send message through the Websocket to the server
	$("#text_message").keydown(function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			ws4redis.send_message($('#text_message').val());
		}
	});
	$('#send_message').click(function() {
		ws4redis.send_message($('#text_message').val());
	});
	// Receive a message through the Websocket from the server,
  // and append it to the chat board with a scrolling feature
  // to show the most current posts
	function receiveMessage(msg) {
		billboard.append('<br/>' + msg);
		billboard.scrollTop(billboard.scrollTop() + 25);
	}
});
</script>
{% endblock %}
