{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<!-- Start Top Bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <p>Lovin Real Estate</p>
  </div>
  <div class="top-bar-right">
    <p> <b>123-456-7890</b> </p>
  </div>
</div>
<!-- End Top Bar -->

<!-- Start div with background image -->
<div style="background-color: #F1F0F0; height: 100%;">
  <!-- use this to implement grid for image text
  <div class="row">
    <div class="large-offset-3 large-3 columns">
    </div>

    <div class="large-6 columns">
    </div>
  </div> -->

  <div class="image" style="background-image: url({% static 'images/Riverfront.JPG' %})">
    <p class="imageText" align="center">
      Get a Fast, Cash Offer on <br>
      Your House Today! <br>
      Call 123-456-7890
    </p>

    <!-- for user input box http://foundation.zurb.com/building-blocks/blocks/translucent-form-overlay.html
    <div class="translucent-form-overlay">
      <form>
        <h3>Search for Properties</h3>
        <div class="row columns">
          <label>Keyword
            <input type="text" name="keyword" placeholder="Any">
          </label>
        </div>
        <div class="row columns">
          <label>Property Status
            <select name="status" type="text">
              <option>Any</option>
              <option value="rent">Rent</option>
              <option value="buy">Buy</option>
            </select>
          </label>
        </div>
        <div class="row columns">
          <label>Property Type
            <select name="status" type="text">
              <option>Any</option>
              <option value="office">Office</option>
              <option value="building">Building</option>
            </select>
          </label>
        </div>
        <div class="row columns">
          <label>Location
            <input type="text" name="location" placeholder="Any">
          </label>
        </div>
        <div class="row">
          <label class="columns small-12">Price</label>
          <div class="columns small-6">
            <input type="number" min="0" name="min" placeholder="Min">
          </div>
          <div class="columns small-6">
            <input type="number" min="0" name="max" placeholder="Max">
          </div>
        </div>
        <button type="button" class="primary button expanded search-button">
          Search
        </button>
     </form>
    </div> -->


  </div>
  <hr>
  <!-- End div with background image -->
  <div>
    <p align="center">
      We have purchased over 75,000 houses since 1996 and we buy houses in ANY condition. <br>
      Avoid clever sales tactics and false promises from scam artists. These can lead to <br>
      frustration and even disaster if their deal falls through and you’re left holding the bag. <br>
      Call HomeVestors – the company that’s been trusted for years.
    </p>
  </div>
  <hr>

  <div class="row">
    <p align="center">
      People use Lovin Real Estate for any number of reasons including:
    </p>
    <div class="large-offset-3 large-3 columns">
      <ul>
        <li>Structural issues</li>
        <li>Facing foreclosure</li>
        <li>Relocation or job transfer</li>
        <li>Undesirable neighborhoods</li>
        <li>Divorce</li>
        <li>Need for cosmetic fix up</li>
        <li>Retirement or downsizing</li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul>
        <li>Death of a loved one</li>
        <li>Liquidating assets to pay bills</li>
        <li>Inheriting a property you can’t keep</li>
        <li>Tired of living in an ugly house</li>
        <li>Troublesome mortgage terms</li>
        <li>Job loss</li>
        <li>And more</li>
      </ul>
    </div>

  </div>
  <hr>
  <p align="center"><font size="2"> &#169; 2017 Lovin Real Estate </p>


</div>

{% endblock %}

{% block script %}
{% endblock script %}
