{% extends "default.html" %}
{% load static %}
<img src="{% static "reApp/static/images/Riverfront.jpg" %}" alt="Sacramento Riverfront"/>

{% block title %}
  Sell Your House Today!
{% endblock %}

{% block content %}
<!-- Start Top Bar, sticky -->
<div data-sticky-container>
  <div class="top-bar row" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left large-offset-2 large-6 columns">
      <h1 align="center" class="leftheadertext">Lovin Real Estate</h1>
    </div>
    <div class="top-bar-right large-offset-3 large-1 columns end hide-for-small-only">
      <h4 align="center" class="rightheadertext"> (916) 258-5597 </h4>
    </div>
  </div>
</div>
<!-- End Top Bar -->

<!-- Start div with background image -->
<div style="background-color: #F1F0F0; height: 100%;">
  <div class="image" style="background-image: url({% static 'images/Riverfront.jpg' %})">
    <br>
    <div class="row">
      <div class="medium-5 large-offset-3 large-5 columns">
        <p class="imageText" align="center">
          Get a Fast, No-Risk Offer on
          Your House Today! <br>
          <span class="imageNumber hide-for-medium-only">Call (916) 258-5597</span>
        </p>
      </div>

      <!-- Start medium/large screen translucent-form-overlay -->
      <div class="medium-7 large-4 columns ">
        <div class="translucent-form-overlay hide-for-small-only">
          <form method="post">
            {% csrf_token %}
            <h3 align="center"> Get a Free Consultation </h3>
            <div class="row columns">
              <label>{{ form.name.label_tag }}</label>
                {{ form.name }}
            </div>
            <div class="row columns">
              <label>{{ form.email.label_tag }}</label>
                {{ form.email }}
            </div>
            <div class="row columns">
              <label>{{ form.phoneNumber.label_tag }}</label>
                {{ form.phoneNumber }}
            </div>
            <div class="row columns">
              <label>{{ form.address.label_tag }}</label>
                {{ form.address }}
            </div>
            <div class="row">
                <div class="columns small-6">
                  <label>{{ form.city.label_tag }}</label>
                    {{ form.city }}
                </div>
                <div class="columns small-6">
                  <label>{{ form.zipCode.label_tag }}</label>
                    {{ form.zipCode }}
                </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="primary button expanded search-button">
                <b> Get a No-Risk Offer Now </b>
              </button>
            </div>
         </form>
        </div>
      </div>
      <!-- End medium/large screen translucent-form-overlay -->
    </div>
  </div>
  <!-- End div with background image -->


  <!-- Start small screen translucent-form-overlay -->
  <div class="large-4 columns ">
    <hr class="show-for-small-only">
    <div class="translucent-form-overlay show-for-small-only">
      <form method="post">
        {% csrf_token %}
        <h3 align="center"> Get a Free Consultation </h3>
        <div class="row columns">
          <label>{{ form.name.label_tag }}</label>
            {{ form.name }}
        </div>
        <div class="row columns">
          <label>{{ form.email.label_tag }}</label>
            {{ form.email }}
        </div>
        <div class="row columns">
          <label>{{ form.phoneNumber.label_tag }}</label>
            {{ form.phoneNumber }}
        </div>
        <div class="row columns">
          <label>{{ form.address.label_tag }}</label>
            {{ form.address }}
        </div>
        <div class="row">
            <div class="columns small-6">
              <label>{{ form.city.label_tag }}</label>
                {{ form.city }}
            </div>
            <div class="columns small-6">
              <label>{{ form.zipCode.label_tag }}</label>
                {{ form.zipCode }}
            </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="primary button expanded search-button">
            <b> Get a No-Risk Offer Now </b>
          </button>
        </div>
     </form>
    </div>
    <br>
  </div>
  <hr>
  <!-- End small screen translucent-form-overlay -->

  <!-- Start lower page text areas -->
  <div class="bodyPadding">
    <h4 align="center">
      <b> Selling Your House Is Easy. Our process is simple and hassle free: </b> <br>
    </h4>
    <!-- Used to align this paragraph to the left on a large and up screen size -->
    <p class="show-for-large largeStepAlignment">
      <br>
      <b> <u>Step 1</u> </b> &#8211; We’ll meet with you to learn about you and your specific situation.<br>
      <b> <u>Step 2</u> </b> &#8211; We’ll make you an As-Is ALL CASH offer. <br>
      <b> <u>Step 3</u> </b> &#8211; If you accept the offer, we pay ALL closing costs and close on the date
        of your choice. <br>
    </p>
    <!-- Used to center align paragraph on anything smaller than a large and up screen size -->
    <p class="hide-for-large stepAlignment">
      <br>
      <b> <u>Step 1</u> </b> &#8211; We’ll meet with you to learn about you and your specific situation.<br>
      <b> <u>Step 2</u> </b> &#8211; We’ll make you an As-Is ALL CASH offer. <br>
      <b> <u>Step 3</u> </b> &#8211; If you accept the offer, we pay ALL closing costs and close on the date
        of your choice. <br>
    </p>
  </div>
  <hr>

  <div class="bodyPadding">
    <p align="center">
      We purchase houses in the greater Sacramento area and we buy houses in <b>ANY</b>
      condition and <b>ANY</b> price range. <br class="show-for-large">
      No matter how bad you think your situation is, you are not alone. Help is only a phone call away.
      <br class="show-for-large">
      Call Lovin Real Estate to sell your house quickly, discreetly, and hassle free. <br>
      <br> <b> The consultation is free, and there is no obligation. </b>
    </p>
  </div>
  <hr>

  <div class="row bodyPadding">
    <h5 align="center">
      <b>People use Lovin Real Estate for any number of reasons including:</b>
    </h5>
    <div class="large-offset-3 large-3 columns">
      <ul>
        <li>Structural issues</li>
        <li>Facing foreclosure</li>
        <li>Relocation or job transfer</li>
        <li>Undesirable neighborhoods</li>
        <li>Divorce</li>
        <li>Need for cosmetic fix up</li>
        <li>Retirement or downsizing</li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul>
        <li>Death of a loved one</li>
        <li>Liquidating assets to pay bills</li>
        <li>Inheriting a property you can’t keep</li>
        <li>Tired of living in an ugly house</li>
        <li>Troublesome mortgage terms</li>
        <li>Job loss</li>
        <li>And more</li>
      </ul>
    </div>

  </div>
  <!-- End lower page text areas -->

  <hr>
  <p align="center"><font size="2"> &#169; 2017 Lovin Real Estate </p>

</div>

{% endblock %}

{% block script %}
{% endblock script %}
