{% extends "default.html" %}
{% load static %}

{% block title %}
  Sell Your House Today!
{% endblock %}

{% block content %}
<!-- Start Top Bar, sticky -->
<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <p>Lovin Real Estate</p>
    </div>
    <div class="top-bar-right">
      <p> <b>(123) 456-7890</b> </p>
    </div>
  </div>
</div>
<!-- End Top Bar -->

<!-- Start div with background image -->
<div style="background-color: #F1F0F0; height: 100%;">
  <div class="image" style="background-image: url({% static 'images/Riverfront.JPG' %})">
    <br>
    <div class="row">
      <div class="large-offset-3 large-5 columns">
        <p class="imageText" align="center">
          Get a Fast, No-Risk Offer on
          Your House Today!
          <p class="imageNumber" align="center">
            Call (123) 456-7890
          </p>
        </p>
      </div>

      <!-- Begin translucent-form-overlay -->
      <div class="large-4 columns">
        <div class="translucent-form-overlay">
          <form method="post">
            {% csrf_token %}
            <h3> Get a Free Consultation </h3>
            <div class="row columns">
              <!-- <label>Full Name
                <input type="text" name="keyword" placeholder="">
              </label> -->
              <label>{{ form.name.label_tag }}</label>
                {{ form.name }}
            </div>
            <div class="row columns">
              <!-- <label>Email
                <input type="text" name="email" placeholder="">
              </label> -->
              <label>{{ form.email.label_tag }}</label>
                {{ form.email }}
            </div>
            <div class="row columns">
              <!-- <label>Phone Number
                <input name="phoneNumber" type="text">
              </label> -->
              <label>{{ form.phoneNumber.label_tag }}</label>
                {{ form.phoneNumber }}
            </div>
            <div class="row columns">
              <!-- <label>Address
                <input type="text" name="address" placeholder="">
              </label> -->
              <label>{{ form.address.label_tag }}</label>
                {{ form.address }}
            </div>
            <div class="row">
              <!-- <div class="columns small-12"> -->
                <div class="columns small-6">
                  <!-- <label>City
                    <input type="text" name="city" placeholder="">
                  </label> -->
                  <label>{{ form.city.label_tag }}</label>
                    {{ form.city }}
                </div>
                <div class="columns small-6">
                  <!-- <label>Zip Code
                    <input type="text" name="zipCode" placeholder="" max="5">
                  </label> -->
                  <label>{{ form.zipCode.label_tag }}</label>
                    {{ form.zipCode }}
                </div>
              <!-- </div> -->
            </div>
            <div class="form-actions">
              <button type="submit" class="primary button expanded search-button">
                <b> Get a No-Risk Offer Now </b>
              </button>
            </div>
         </form>
        </div>
      </div>
      <!-- End translucent-form-overlay -->

    </div>
  </div>
  <hr>
  <!-- End div with background image -->

  <div>
    <p align="center">
      We have purchased over 75,000 houses since 1996 and we buy houses in ANY condition. <br>
      Avoid clever sales tactics and false promises from scam artists. These can lead to <br>
      frustration and even disaster if their deal falls through and you’re left holding the bag. <br>
      Call Lovin Real Estate – the company that’s been trusted for years. <br>
      <br> <b> The consultation is free, and there is no obligation. </b>
    </p>
  </div>
  <hr>

  <div class="row">
    <h5 align="center">
      <b>People use Lovin Real Estate for any number of reasons including:</b>
    </h5>
    <div class="large-offset-3 large-3 columns">
      <ul>
        <li>Structural issues</li>
        <li>Facing foreclosure</li>
        <li>Relocation or job transfer</li>
        <li>Undesirable neighborhoods</li>
        <li>Divorce</li>
        <li>Need for cosmetic fix up</li>
        <li>Retirement or downsizing</li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul>
        <li>Death of a loved one</li>
        <li>Liquidating assets to pay bills</li>
        <li>Inheriting a property you can’t keep</li>
        <li>Tired of living in an ugly house</li>
        <li>Troublesome mortgage terms</li>
        <li>Job loss</li>
        <li>And more</li>
      </ul>
    </div>

  </div>
  <hr>
  <p align="center"><font size="2"> &#169; 2017 Lovin Real Estate </p>

</div>

<!-- For testing purposes
<form method="post">
    {% csrf_token %}
    <label>{{ form.email.label_tag }}</label>
      {{ form.email }}
    <label>{{ form.subject.label_tag }}</label>
      {{ form.subject }}
    <label>{{ form.message.label_tag }}</label>
      {{ form.message }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form> -->

{% endblock %}

{% block script %}
{% endblock script %}
