{% extends "default.html" %}
{% load static %}
<img src="{% static "reApp/static/images/Riverfront.jpg" %}" alt="Sacramento Riverfront"/>

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<!-- Start Top Bar, sticky -->
<div data-sticky-container>
  <div class="top-bar row" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left large-offset-2 large-6 columns">
      <p align="center"> <a class="linkColor" href="/#/"> Lovin Real Estate </a> </p>
    </div>
    <div class="top-bar-right large-offset-3 large-1 columns end hide-for-small-only">
      <h4 align="center" class="rightheadertext"> (916) 258-5597 </h4>
    </div>
  </div>
</div>
<!-- End Top Bar -->


<!-- Start div with background image -->
<div style="background-color: #F1F0F0; height: 100%;">
  <div class="image" style="background-image: url({% static 'images/Riverfront.jpg' %})">
    <br>
    <h2 align="center"> <b> Thank you! </b> </h2>
      <br>
    <h4 align="center" class="bodyPadding">
      Your submission has been sent to the Lovin Real Estate Team. <br class="show-for-medium">
      We will get back to you as soon as possible.
    </h4>
  </div>
  <!-- End div with background image -->

  <hr>
  <p align="center"><font size="2"> &#169; 2017 Lovin Real Estate </p>

</div>
{% endblock %}

{% block script %}
{% endblock script %}
