div.top-bar{
  background-color: white;
  height: 110px;
  width: 100%;
  border: 2px solid #CACACA;
  /*padding: 1rem;*/
}
div.top-bar-left{
  position: absolute;
  top:15px;
  left:250px;
  font-size: 50px;
  font-style: oblique;
  font-family: lucida;
}
div.top-bar-right{
  position: absolute;
  top:40px;
  right:175px;
  font-size: 25px;
}
div.image{
  position: relative;
  /*background-image: url('{% static 'images/Riverfront.JPG' %}');*/
  background-repeat:no-repeat;
  background-size: 100% 100%;
  /*background-size: cover;*/
  height:600px;
  /*width:100%;*/
  /*margin: auto;*/
  opacity: 1.0;
  /*padding: 20%;*/
}
p.imageText{
  /*font-size: xx-large;*/
  font-size: 40px;
  font-weight: bold;
  font-family: lucida;
  color: #2A2929;
}
p.imageNumber{
  /*font-size: xx-large;*/
  font-size: 30px;
  font-weight: bold;
  font-family: lucida;
  color: #2A2929;
}
/*begin translucent-form-overlay css */
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}
.translucent-form-overlay .columns.row {
  display: block;
}
.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}
.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}
.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}
.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}
.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}
/*end translucent-form-overlay css*/



/*------------ USE THIS FOR THE RIVERFRONT PIC -------------*/
/*div.Image{
  position: relative;
  left: 5%;
  height: 100%;
  width: 100%;
}*/

/*--------- USE THIS FOR THE RIVERCATS PIC -----------*/
/*div.Image{
  position: relative;
  left: 10%;
  width: 80%;
}*/

/*-------------------- CHANGE ALL "PX" NUMBER VALUES TO "%" --------------------*/
